﻿@model UI.Models.DateViewModel

@using (Ajax.BeginForm("GetGrid", "Home",
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "grid",
                OnFailure = "error",
                OnComplete = "highlightData"
            },
            new {id = "datepickerform"}))
{
    <div class="input-group input-group">
        @Html.TextBoxFor(model => model.Date, new { @class = "form-control", id = "date", type = "date", placeholder = "Pick date here..." })
        <input type="submit" class="btn btn-info" id="rateSubmit" value="Get Rates">
    </div>
}


