﻿@using UI.Models
@model IEnumerable<ExchangeRateViewModel>

<div id="grid">
    @if (Model != null)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Currency</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Unit</th>
                    <th>Change</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Currency</td>
                        <td>@item.Quantity</td>
                        <td>@item.Rate</td>
                        <td>@item.Unit</td>
                        <td class="change">@item.Change</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info alert-dismissable" role="alert">
            <hgroup>
                <h2>Pick a date to get that dates exchange rates!</h2>
            </hgroup>
        </div>
    }
</div>